# Copy this file to variables.pkrvars.hcl and fill in your values.
# Run: packer build -var-file=variables.pkrvars.hcl .

iso_path     = "/path/to/iso"
iso_checksum = "sha256:<HASH>"

memory_mb    = 4096
cpus         = 2
disk_size_mb = 61440

winrm_username = "Administrator"
winrm_password = "MyStr0ng!Pass"

# location to store image (change this)
output_dir = "/path/to/vmware/WIN11"
